<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuthDbConnection" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AuthWebFormsConnectedDB;Integrated Security=True;Connect Timeout=30;Encrypt=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    
    <!-- Forms Authentication Configuration -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" 
             loginUrl="~/Login.aspx" 
             protection="All" 
             timeout="30" 
             path="/" 
             requireSSL="false" 
             slidingExpiration="true"
             defaultUrl="~/Default.aspx"
             cookieless="UseDeviceProfile" 
             enableCrossAppRedirects="false" />
    </authentication>
    
    <!-- Authorization: Deny anonymous users by default -->
    <authorization>
      <deny users="?" />
    </authorization>
    
    <pages controlRenderingCompatibilityVersion="4.0" />
    
    <!-- Custom Errors -->
    <customErrors mode="Off" />
    
    <!-- Session State -->
    <sessionState mode="InProc" timeout="30" />
  </system.web>
  
  <!-- Allow anonymous access to Login and Register pages -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!-- Restrict Admin Panel to Admin role only -->
  <location path="AdminPanel.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!-- User Dashboard accessible by both Admin and User roles -->
  <location path="UserDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
